body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* fix så att animationen inte hoppar till när den är klar */
  backface-visibility: hidden;
  /* skapar margin från h1 till knappen */
  margin-bottom: 6rem;
  /* span elementet är ett inline-element */
  &--main {
    /* gör span elementet till ett block-element, gör så att texten kommer på en ny rad */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* kallar på animationen moveInLeft */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation properties
     animation-delay: 3s;
     gör så att animationen händer 3 gånger
     animation-iteration-count: 3; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* shortcut command för animation, vilken animation, duration, och timing-function */
    animation: moveInRight 1s ease-out;
  }
}

// h2 i section-about

.heading-secondary {
  // 3.5rem = 35px
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2;
  // h2 är ett block-element, måste ändra de till inline-block för att få gradient färgen att sluta där texten slutar
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  // får färgen att hamna bakom texten
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  // animationen för h2
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, .2);
  }

}

// h3
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

// p
.paragraph {
  font-size: $default-font-size;
  // väljer alla paragraph förutom den sista p
  &:not(last-child) {
    margin-bottom: 3rem;
  }
}
